<section>
    <!-- Titulo de la pagina -->
    <h1>{{titulo}}</h1>

    <div ui-breadcrumb/>
    <ui-blockui data-ui-blockui-config="uiBlockuiConfig"/>

    <div>
        <!-- begin alert directive -->
        <ui-alert alert-service="alertSuccesServices" alert-config="alertSuccessConfig" id="id_alertSuccessBox"></ui-alert>
        <ui-alert alert-service="alertErrorServices" alert-config="alertErrorConfig" id="id_alertErrorBox"></ui-alert>
        <!-- end alert directive -->
    </div>
    <div class="col-lg-10 col-lg-offset-1">
        <!-- START PRIMARY PANEL -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Búsqueda</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" name="busquedaForm">
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Text Field</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-xs-12 control-label">Text Field</label>
                        <div class="col-md-6 col-xs-12">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <button class="btn btn-default pull-right">Limpiar</button>
                <button class="btn btn-primary pull-right">Buscar</button>
            </div>
        </div>
        <!-- END PRIMARY PANEL -->
        <!-- begin Grupo de Botones-->
        <div class="form-inline">
            <!-- begin boton agregar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-info" ng-click="buscar()">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Agregar
                </button>
            </div>
            <!-- begin boton modificar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-success" ng-click="modificar()" ng-disabled="disabled">
                    <i class="fa fa-pencil"></i>&nbsp;&nbsp;Modificar
                </button>
            </div>
            <!-- begin boton eliminar estandar-->
            <div class="form-group">
                <button type="button" class="btn btn-danger" ng-click="launch('eliminar')" ng-disabled="disabled">
                    <i class="fa fa-trash-o"></i>&nbsp;&nbsp;Eliminar
                </button>
            </div>
        </div>
    </div>
    <!-- begin Tabla directive ui-jqgrid-->
    <div class="col-lg-10 col-lg-offset-1">
        <div class="table-responsive">
            <table ui-jqgrid="tableParams" class="table" id="jqgrid"/>
        </div>
        <div id="pager"></div>
    </div>
    <!-- end Tabla directive ui-jqgrid-->
</section>