@import url("../../../css/style.css");

.ui-jqgrid,
.ui-jqgrid .ui-widget .ui-widget-content .ui-corner-all,
.ui-jqgrid-view,
.ui-jqgrid-bdiv,
.ui-state-default .ui-jqgrid-hdiv,
.ui-state-default .ui-jqgrid-pager .ui-corner-bottom,
.ui-jqgrid .ui-jqgrid-pager,
.ui-jqgrid .ui-jqgrid-hdiv,
.table .ui-jqgrid-btable{
    width: 100% !important;
}

.ui-jqgrid .ui-pager-control {
    overflow: hidden !important;
}

.x-navigation>li.xn-logo>a:first-child{
    background: #1E222A;
}

.x-navigation>li.xn-logo>a:first-child:hover{
    background-color : #74A1D4;
}

.x-navigation.x-navigation-horizontal {
    background: #74A1D4;
}

.x-navigation li.active>a{
    background : #74A1D4;
}

.x-navigation li>a:hover{
    background: #32333C;
}

.page-content{
    height: 100% !important;
}